<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      
      <core-card
      (events)="emittedEvents($event)"
      [actions]="['collapse', 'expand', 'reload', 'close']"
      [reloadTime]="'1000'"
    >
      <h4 class="card-title">Filtro de búsqueda</h4>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
              <div class="users-list-filter">
                <form>
                  <div class="row">
                    <!-- <div class="col-12 col-md-4">
                      <fieldset class="form-group">
                        <ng-select
                          [items]="selectRole"
                          [(ngModel)]="selectedRole"
                          name="selectedRole"
                          bindLabel="name"
                          placeholder="Seleccione Rol"
                        ></ng-select>
                      </fieldset>
                    </div> -->
                    <!-- <div class="col-12 col-md-4">
                      <fieldset class="form-group">
                        <ng-select
                          [items]="selectPlan"
                          [(ngModel)]="selectedPlan"
                          name="selectedPlan"
                          bindLabel="name"
                          placeholder="Seleccione Plan"
                        ></ng-select>
                      </fieldset>
                    </div> -->
                    <div class="col-12 col-md-4">
                      <fieldset class="form-group">
                        <ng-select
                          [items]="selectStatus"
                          [(ngModel)]="selectedStatus"
                          name="selectedStatus"
                          bindLabel="name"
                          placeholder="Seleccione Status"
                          (change)="filterByStatus($event)"
                        ></ng-select>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
  
            </div>
          </div>
        </div>
    </core-card>
  
        <!-- User List -->
        <section class="users-list-wrapper">
  
          <div class="card">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="d-flex justify-content-between align-items-center m-1">
                  <label class="d-flex align-items-center"
                    >Mostrar
                    <select class="form-control mx-25" [(ngModel)]="selectedOption">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    Registros</label
                  >
                </div>
              </div>
              <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                  <label class="d-flex align-items-center ml-1 ml-md-0"
                    >Buscar:<input
                      [(ngModel)]="searchValue"
                      name="searchValue"
                      type="search"
                      class="form-control ml-25"
                      placeholder="Nombre Empresa"
                      (keyup)="filterUpdate($event)"
                      (search)="filterUpdate($event)"
                  /></label>
  
                  <!-- modal comp -->
                  &nbsp;
                  <button type="button" class="btn btn-primary" rippleEffect>
                    Agregar 
                  </button>
                <!-- Modal Comp -->
                </div>
              </div>
            </div>
            <ngx-datatable
              [rows]="rows"
              [rowHeight]="50"
              class="bootstrap core-bootstrap"
              [limit]="selectedOption"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              [scrollbarH]="true"
            >
              <ngx-datatable-column name="Nombre" prop="RazonSocial" [width]="200">
                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div class="cell-line-height">
                      <a routerLink="#" class="font-medium-1 d-block">
                        <span class="font-weight-bold">{{ row.RazonSocial.substring(0,30) }} ...</span></a>
                      <span class="text-muted font-small-2"> RIF - {{ row.Rif }} | {{ row.PaginaWeb  }}</span>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="Email" prop="CorreoElectronico" [width]="20">
                <ng-template let-CorreoElectronico="value" ngx-datatable-cell-template>
                  <div>
                    <span class="font-weight-bold"><i class="fa fa-envelope"></i>  <a href="mailto:{{CorreoElectronico}}"> {{ CorreoElectronico.substring(0,20) }} </a> </span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            
              <ngx-datatable-column name="Telefono" prop="Telefono" [width]="10">
                <ng-template let-Telefono="value" ngx-datatable-cell-template>
                  <div>
                    <i class="fa fa-phone"></i> 
                    <a href="tel:{{Telefono}}">
                    {{ Telefono }}
                  </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="Codigo IVSS" prop="CodigoIvss" [width]="10">
                <ng-template let-CodigoIvss="value" ngx-datatable-cell-template>
                  <div>
                    <i
                      class="feather font-medium-3"
                      [ngClass]="'icon-slack text-info'"
                    ></i>
                    {{ CodigoIvss }}
                  </div>
                </ng-template>
              </ngx-datatable-column>
  
              <ngx-datatable-column name="Status" prop="EstatusEmpresa" [width]="10">
                <ng-template let-EstatusEmpresa="value" ngx-datatable-cell-template>
                  <div
                    class="badge badge-pill"
                    [ngClass]="{
                      'badge-light-success': EstatusEmpresa == '1',
                      'badge-light-secondary': EstatusEmpresa == '2',
                      'badge-light-warning': EstatusEmpresa == '3',
                      'badge-light-warning': EstatusEmpresa == '4'
                    }"
                  >
                    {{ EstatusEmpresa == '1' ? 'Activa' : 'Inactiva' }}
                  </div>
                </ng-template>
              </ngx-datatable-column> 
  
              <ngx-datatable-column name="Acción" [width]="5" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-row="row">
                  <div ngbDropdown container="body">
                    <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                      <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                    </button>
                    <div ngbDropdownMenu>
                      <a ngbDropdownItem  (click)="ModalDetails(DetailsModal,row,this.ListEmpresasAportes(row.EmpresaId))">
                        <span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span>
                        Detalles
                      </a>
                        <a routerLink="/apps/user/user-edit/{{ row.id }}" ngbDropdownItem
                        ><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Edit</a
                      ><a href="javascript:;" ngbDropdownItem
                        ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Delete</a
                      >
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
  
            </ngx-datatable>
          </div>
        </section>
        <!--/ User List -->
      </div>
    
    </div>
  

    