<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <div class="card">
        <h5 class="card-header">Filtro de búsqueda</h5>
        <div class="card-body">
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectRole"
                      [(ngModel)]="selectedRole"
                      name="selectedRole"
                      bindLabel="name"
                      placeholder="Seleccione Tipo Menu"
                      (change)="filterByRole($event)"
                    ></ng-select>
                  </fieldset>
                </div>
                <!-- <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectPlan"
                      [(ngModel)]="selectedPlan"
                      name="selectedPlan"
                      bindLabel="name"
                      placeholder="Seleccione Plan"
                      (change)="filterByPlan($event)"
                    ></ng-select>
                  </fieldset>
                </div> -->
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectStatus"
                      [(ngModel)]="selectedStatus"
                      name="selectedStatus"
                      bindLabel="name"
                      placeholder="Seleccione Status"
                      (change)="filterByStatus($event)"
                    ></ng-select>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Mostrar
                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                registros</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <label class="d-flex align-items-center ml-1 ml-md-0"
                >Buscar:<input
                  [(ngModel)]="searchValue"
                  name="searchValue"
                  type="search"
                  placeholder="Buscar..."
                  class="form-control ml-25"
                  (keyup)="filterUpdate($event)"
                  (search)="filterUpdate($event)"
              /></label>
              <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-menu-sidebar')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">
                  <span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span>
                  Agregar Nuevo Menu</span>
              </button>
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >

        <ngx-datatable-column name="Nombre" prop="title" [width]="100">
          <ng-template let-title="value" ngx-datatable-cell-template>
            <div>
                <a routerLink="sub-menu/{{ title }}">
              <i data-feather="external-link"></i>
              <span class="font-weight-bold"> {{ title }} </span>
            </a>
            </div>
          </ng-template>
        </ngx-datatable-column>
          <ngx-datatable-column name="Tipo" prop="type" [width]="100">
            <ng-template let-type="value" ngx-datatable-cell-template>
              <div>
                <i [data-feather]="type == 'item' ? 'menu' : 'align-left' "></i>
                {{ type }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Icono" prop="icon" [width]="100">
            <ng-template let-icon="value" ngx-datatable-cell-template>
              <div>
                <i [data-feather]="icon"></i>
                {{ icon }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Url" prop="url" [width]="100">
            <ng-template let-url="value" ngx-datatable-cell-template>
              <div>
                <a [routerLink]="url">
                <i [data-feather]="url === '' ? '' : 'link-2' "></i>
                <span class="font-weight-bold"> {{ url }} </span>
              </a>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status" [width]="50">
            <ng-template let-status="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-success': status == '1',
                  'badge-light-danger': status == '0'
                }"
              >
                {{ status == '1' ? 'Activo' : 'Inactivo'  }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acciones" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                  <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                </button>
                <div ngbDropdownMenu>
                  <a routerLink="/apps/user/user-view/{{ row.id }}" ngbDropdownItem
                    ><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> Detalles</a
                  ><a (click)="EditarMenu('new-menu-sidebar', row)" ngbDropdownItem
                    ><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> Editar</a
                  ><a (click)="DeleteMenu(row)" ngbDropdownItem
                    ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Eliminar</a
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->
  </div>

  <!-- New User Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-menu-sidebar"
    overlayClass="modal-backdrop"
  >
    <app-new-menu-sidebar></app-new-menu-sidebar>
  </core-sidebar>
  <!--/ New User Sidebar -->

</div>
