<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="brand-logo img" align="center">
      <img src="assets/images/banner/cintillo-fona-carabobo.jpg" class="banner-fona" alt="banner" height="105px"  />
      </div> 
      <br>
    <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
    <!-- Horizontal Wizard -->
    <div class="container">
    <section class="horizontal-wizard">
      <div id="stepper1" class="bs-stepper horizontal-wizard-example">
        <div class="bs-stepper-header">
          <div class="step" data-target="#account-details">
            <button class="step-trigger">
              <span class="bs-stepper-box">1</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Datos de la Empresa</span>
                <span class="bs-stepper-subtitle">Datos de la empresa</span>
              </span>
            </button>
          </div>
          <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
          <div class="step" data-target="#personal-info">
            <button class="step-trigger">
              <span class="bs-stepper-box">2</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Datos Legales y Financieros</span>
                <span class="bs-stepper-subtitle">Datos Legales y Financieros</span>
              </span>
            </button>
          </div>
          <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
          <div class="step" data-target="#address">
            <button class="step-trigger">
              <span class="bs-stepper-box">3</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Datos del Representante Legal</span>
                <span class="bs-stepper-subtitle">Datos del Representante Legal</span>
              </span>
            </button>
          </div>
          <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>
          <div class="step" data-target="#social-links">
            <button class="step-trigger">
              <span class="bs-stepper-box">4</span>
              <span class="bs-stepper-label">
                <span class="bs-stepper-title">Registrar Empresa</span>
                <span class="bs-stepper-subtitle">Registro Completado</span>
              </span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <form  (ngSubmit)="(HWForm.form.valid)" #HWForm="ngForm">
            <div id="account-details" class="content">
              <form #accountDetailsForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Account Details</h5>
                  <small class="text-muted">Enter Your Account Details.</small>
                </div>

                <div class="row">
                  <div class="form-group col-md-2">
                    <label class="form-label">Tipo de RIF</label>
                    <ng-select
                    [items]="selectRIF"
                    placeholder="Seleccione"
                    bindLabel="name"
                    required
                    autocomplete="off"
                    name="tipo_rif"
                    [(ngModel)]="tipoRif"
                    #TipoRifRef="ngModel"
                    [class.error]="!TipoRifRef.valid && accountDetailsForm.submitted"
                    >
                  </ng-select>
                  <span *ngIf="accountDetailsForm.submitted && TipoRifRef.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="TipoRifRef.errors.required"
                      >Tipo de RIF es requerido!</small
                    >
                  </span>
                  </div>
                  <div class="form-group col-md-4">
                    <label class="form-label">RIF</label>
                    <input
                      [(ngModel)]="rif"
                      #RifRef="ngModel"
                      required
                      autocomplete="off"
                      type="number"
                      name="rif"
                      class="form-control"
                      [class.error]="!RifRef.valid && accountDetailsForm.submitted"
                      placeholder="Ingrese el RIF de la Empresa"
                    />
                    <span *ngIf="accountDetailsForm.submitted && RifRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="RifRef.errors.required"
                        >RIF es requerido!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">Razon Social</label>
                    <input
                    [(ngModel)]="razonSocial"
                    #RazonSocial="ngModel"
                    required
                    autocomplete="off"
                    [class.error]="!RazonSocial.valid && accountDetailsForm.submitted"
                    type="text"
                    name="razon_social"
                    class="form-control"
                    placeholder="Ingrese Razon Social"
                  />
                  <span *ngIf="accountDetailsForm.submitted && RazonSocial.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="RazonSocial.errors.required"
                      >Razon Social es requerido!</small
                    >
                  </span>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" >Cantidad de Empleados</label>
                    <input
                      [(ngModel)]="cantidadEmpleado"
                      #CantidadEmpleado="ngModel"
                      required
                      autocomplete="off"
                      type="number"
                      name="cantidad_empleado"
                      class="form-control"
                      [class.error]="!CantidadEmpleado.valid && accountDetailsForm.submitted"
                      placeholder="Ingrese Cantidad de Empleados"
                    />
                    <span *ngIf="accountDetailsForm.submitted && CantidadEmpleado.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="CantidadEmpleado.errors.required"
                        >Cantidad de Empleados es requerido!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">Dirección</label>
                    <textarea
                    class="form-control char-textarea"
                    id="textarea-counter"
                    [(ngModel)]="direccion"
                    #Direccion="ngModel"
                    name="direccion"
                    required
                    autocomplete="off"
                    [class.error]="!Direccion.valid && accountDetailsForm.submitted"
                    rows="1"
                    placeholder="Ingrese Direccion de la Empresa"
                  ></textarea>
                  <span *ngIf="accountDetailsForm.submitted && Direccion.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="Direccion.errors.required"
                      >Dirección es requerido!</small
                    >
                  </span>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label">Estados</label>
                    <ng-select
                      [items]="selectEstados"
                      placeholder="Seleccione Estados"
                      bindLabel="name"
                      name="estados"
                      [(ngModel)]="estados"
                      #Estados="ngModel"
                      (ngModelChange)="ListaMunicipios($event.EstadoId)"
                      required
                      autocomplete="off"
                      [class.error]="!Estados.valid && accountDetailsForm.submitted"  
                      >
                    </ng-select>
                    <span *ngIf="accountDetailsForm.submitted && Estados.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="Estados.errors.required"
                        >Estado es requerido!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">Municipios</label>
                    <ng-select
                      [items]="selectMunicipios"
                      placeholder="Seleccione Municipios"
                      bindLabel="name"
                      name="municipios"
                      [(ngModel)]="municipios"
                      #Municipios="ngModel"
                      required
                      autocomplete="off"
                      [class.error]="!Municipios.valid && accountDetailsForm.submitted"  
                      >
                    </ng-select>
                    <span *ngIf="accountDetailsForm.submitted && Municipios.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="Municipios.errors.required"
                        >Municipio es requerido!</small
                      >
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label">Telefono</label>
                    <input
                      [(ngModel)]="telefono"
                      #Telefono="ngModel"
                      required
                      type="number"
                      autocomplete="off"
                      name="telefono"
                      class="form-control"
                      [class.error]="!Telefono.valid && accountDetailsForm.submitted"
                      placeholder="Ingrese Telefono"
                    />
                    <span *ngIf="accountDetailsForm.submitted && Telefono.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="Telefono.errors.required"
                        >Telefono es requerido!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">Pagina Web</label>
                    <input
                    type="text"
                    name="pagina_web"
                    class="form-control"
                    placeholder="Ingrese Pagina Web"
                  />
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="email">Correo Electronico</label>
                    <input
                      [(ngModel)]="email"
                      #Email="ngModel"
                      required
                      email
                      type="email"
                      name="email"
                      autocomplete="off"
                      id="email"
                      class="form-control"
                      [class.error]="!Email.valid && accountDetailsForm.submitted"
                      placeholder="Ingrese Correo Electronico"
                      aria-label="john.doe"
                    />
                    <span *ngIf="accountDetailsForm.submitted" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="!Email.valid">El Correo Electronico debe ser válido!</small>
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">Actividad Economica</label>
                    <ng-select
                      [items]="selectActividadEconomica"
                      placeholder="Seleccione Actividad Economica"
                      bindLabel="name"
                      autocomplete="off"
                      name="actividad_economica"
                      [(ngModel)]="actividad_economica"
                      #ActividadEconomica="ngModel"
                      required
                      [class.error]="!ActividadEconomica.valid && accountDetailsForm.submitted"  
                      >
                    </ng-select>
                    <span *ngIf="accountDetailsForm.submitted && ActividadEconomica.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="ActividadEconomica.errors.required"
                        >Actividad Economica es requerido!</small
                      >
                    </span>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <button
                    (click)="horizontalWizardStepperPrevious()"
                    class="btn btn-outline-secondary btn-prev"
                    disabled
                    rippleEffect
                  >
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                  </button>
                  <button
                    (click)="horizontalWizardStepperNext(accountDetailsForm)"
                    type="submit"
                    class="btn btn-primary btn-next"
                    rippleEffect
                  >
                    <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
                </div>
              </form>
            </div>
            <div id="personal-info" class="content">
              <form #personalInfoForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Personal Info</h5>
                  <small>Enter Your Personal Info.</small>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="first-name">Ubicacion del Registro</label>
                    <ng-select
                      [items]="selectBasic"
                      placeholder="Seleccione Ubicacion del Registro"
                      bindLabel="name"
                      name="ubicacion_registro"
                      [(ngModel)]="ubicacion_registro"
                      #UbicacionRegistro="ngModel"
                      required
                      [class.error]="!UbicacionRegistro.valid && accountDetailsForm.submitted"                        
                      >
                    </ng-select>
                    <span *ngIf="accountDetailsForm.submitted && UbicacionRegistro.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="UbicacionRegistro.errors.required"
                        >Ubicacion del Registro es requerido!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="last-name">Nombre del Registro Mercantil</label>
                    <ng-select
                      [items]="selectBasic"
                      placeholder="Seleccione Registro Mercantil"
                      bindLabel="name"
                      name="registro_mercantil"
                      [(ngModel)]="registro_mercantil"
                      #RegistroMercantil="ngModel"
                      required
                      [class.error]="!RegistroMercantil.valid && accountDetailsForm.submitted"                        
                      >
                    </ng-select>
                    <span *ngIf="accountDetailsForm.submitted && RegistroMercantil.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="RegistroMercantil.errors.required"
                        >Registro Mercantil es requerido!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="country">Fecha de Creación de la Empresa</label>
                    <div class="form-group">
                      <div class="input-group">
                        <input
                          class="form-control"
                          placeholder="Ingrese Formato de Fecha YYYY-MM-DD"
                          name="fecha_creacion"
                          [(ngModel)]="fecha_creacion"
                          #FechaCreacion="ngModel"
                          required
                          [class.error]="!FechaCreacion.valid && accountDetailsForm.submitted"                            
                          [(ngModel)]="basicDPdata"
                          ngbDatepicker
                          #basicDP="ngbDatepicker"
                        />
                        <div class="input-group-append">
                          <button
                            class="btn btn-outline-secondary feather icon-calendar"
                            (click)="basicDP.toggle()"
                            type="button"
                            rippleEffect
                          ></button>
                        </div>
                      </div>
                      <span *ngIf="accountDetailsForm.submitted && FechaCreacion.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="FechaCreacion.errors.required"
                          >Fecha de Creación es requerido!</small
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                      <label class="form-label" for="pincode1">Numero de Folio</label>
                      <input type="text" class="form-control" placeholder="Ingrese Numero de Folio" />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="city1">Numero de Protocolo</label>
                    <input type="text" id="city1" class="form-control" placeholder="Ingrese Numero de Protocolo" />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="pincode1">Numero de Tomo</label>
                    <input type="text" class="form-control" placeholder="Ingrese Numero de Tomo" />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="city1">Numero Patronal IVSS</label>
                    <input
                      type="text"
                       class="form-control"
                       placeholder="Ingrese Numero Patronal IVSS"
                       name="numero_patronal"
                       [(ngModel)]="numero_patronal"
                       #NumeroPatronal="ngModel"
                       required
                       [class.error]="!NumeroPatronal.valid && accountDetailsForm.submitted"                            
                       />
                       <span *ngIf="accountDetailsForm.submitted && NumeroPatronal.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="NumeroPatronal.errors.required"
                          >Numero Patronal IVSS es requerido!</small
                        >
                      </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">Ejercicio Fiscal Desde</label>
                    <div class="row">
                    <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Desde" />
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" placeholder="Hasta" />
                      </div>
                    </div>
                  </div>
                </div>

                    <!-- Invoice repeater -->
                        <h4 class="card-title">Utilidad en Operación del Cierre del Ejercicio Fiscal</h4>
                        <div class="card-body">
                            <div *ngFor="let item of items; let i = index" @heightIn>
                              <div class="row d-flex align-items-end">
                                <div class="col-md-3 col-12">
                                  <div class="form-group">
                                    <label for="itemName{{ i }}">Desde</label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      [(ngModel)]="item.itemName"
                                      name="itemName{{ i }}"
                                      id="itemName{{ i }}"
                                      placeholder="Fecha Desde"
                                    />
                                  </div>
                                </div>
            
                                <div class="col-md-3 col-12">
                                  <div class="form-group">
                                    <label for="itemQuantity{{ i }}">Hasta</label>
                                    <input
                                      type="number"
                                      class="form-control"
                                      id="itemQuantity{{ i }}"
                                      name="itemQuantity{{ i }}"
                                      [(ngModel)]="item.itemCost"
                                      placeholder="Fecha Hasta"
                                    />
                                  </div>
                                </div>
            
                                <div class="col-md-4 col-12">
                                  <div class="form-group">
                                    <label for="itemQuantity{{ i }}">Monto</label>
                                    <input
                                      type="number"
                                      class="form-control"
                                      id="itemQuantity{{ i }}"
                                      name="itemQuantity{{ i }}"
                                      [(ngModel)]="item.itemQuantity"
                                      placeholder="Monto"
                                    />
                                  </div>
                                </div>
            

                                <div class="col-md-2 col-12 mb-50">
                                  <div class="form-group">
                                    <button class="btn btn-outline-danger text-nowrap px-1" (click)="deleteItem(i)" rippleEffect>
                                      <i data-feather="x" class="mr-25"></i>
                                      <span>Eliminar</span>
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <hr />
                            </div>
                          <div class="row">
                            <div class="col-12">
                              <button class="btn btn-icon btn-primary" type="button" (click)="addItem()" rippleEffect>
                                <i data-feather="plus" class="mr-25"></i>
                                <span>Agregar</span>
                              </button>
                            </div>
                          </div>
                        </div>
                    <!--/ Invoice repeater -->


                <div class="d-flex justify-content-between">
                  <button
                    type="button"
                    (click)="horizontalWizardStepperPrevious()"
                    class="btn btn-primary btn-prev"
                    rippleEffect
                  >
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                  </button>
                  <button
                    (click)="horizontalWizardStepperNext(personalInfoForm)"
                    class="btn btn-primary btn-next"
                    rippleEffect
                  >
                    <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
                </div>
              </form>
            </div>
            <div id="address" class="content">
              <form #addressForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Address</h5>
                  <small>Enter Your Address.</small>
                </div>

                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="address">Cedula</label>
                    <input
                      [(ngModel)]="addressVar"
                      #addressRef="ngModel"
                      required
                      type="text"
                      id="address"
                      name="address"
                      class="form-control"
                      [class.error]="addressForm.submitted && addressRef.invalid"
                      placeholder="Ingrese Cedula de Identidad"
                    />
                    <span *ngIf="addressForm.submitted && addressRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="addressRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="landmark"></label>
                    <input
                      [(ngModel)]="landmarkVar"
                      #landmarkRef="ngModel"
                      required
                      type="text"
                      name="landmark"
                      id="landmark"
                      class="form-control"
                      [class.error]="addressForm.submitted && landmarkRef.invalid"
                      placeholder="......"
                    />
                    <span *ngIf="addressForm.submitted && landmarkRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="landmarkRef.errors.required"
                        >This field is required!</small
                      >
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="pincode1">Primer Nombre</label>
                    <input type="text" id="pincode1" class="form-control" placeholder="Ingrese Primer Nombre" />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="city1">Segundo Nombre</label>
                    <input type="text" id="city1" class="form-control" placeholder="Ingrese Segundo Nombre" />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="pincode1">Primer Apellido</label>
                    <input type="text" id="pincode1" class="form-control" placeholder="Ingrese Primer Apellido" />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="city1">Segundo Apellido</label>
                    <input type="text" id="city1" class="form-control" placeholder="Ingrese Segundo Apellido" />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="pincode1">Telefono de Contacto</label>
                    <input type="text" id="pincode1" class="form-control" placeholder="Ingrese Telefono de Contacto" />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="city1">Telefono Celular</label>
                    <input type="text" id="city1" class="form-control" placeholder="Ingrese Telefono Celular" />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label" for="pincode1">Fax</label>
                    <input type="text" id="pincode1" class="form-control" placeholder="Ingrese Fax" />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label" for="city1">Correo Electronico</label>
                    <input type="text" id="city1" class="form-control" placeholder="Ingrese Correo Electronico" />
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <button
                    type="button"
                    (click)="horizontalWizardStepperPrevious()"
                    class="btn btn-primary btn-prev"
                    rippleEffect
                  >
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                  </button>
                  <button
                    (click)="horizontalWizardStepperNext(addressForm)"
                    class="btn btn-primary btn-next"
                    rippleEffect
                  >
                    <span class="align-middle d-sm-inline-block d-none">Siguiente</span>
                    <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
                  </button>
                </div>
              </form>
            </div>
            <div id="social-links" class="content">
              <form #socialLinkForm="ngForm">
                <div class="content-header">
                  <h5 class="mb-0">Social Links</h5>
                  <small>Enter Your Social Links.</small>
                </div>
                <div class="row">
                  <div class="form-group form-password-toggle col-md-6">
                    <label class="form-label" for="password">Contraseña</label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control"
                      [class.error]="!TDPasswordOnlyRef.valid && accountDetailsForm.submitted"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      ngModel
                      #TDPasswordOnlyRef="ngModel"
                      required
                      minlength="6"
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    />
                    <div
                      *ngIf="TDPasswordOnlyRef.invalid && accountDetailsForm.submitted"
                      class="form-text text-danger"
                    >
                      <small *ngIf="TDPasswordOnlyRef.errors.required"> Se requiere contraseña. </small>
                      <small *ngIf="TDPasswordOnlyRef.errors.pattern">
                        Debe contener al menos un número y una letra mayúscula y minúscula, y al menos 8 o más caracteres.</small
                      >
                    </div>
                  </div>
                  <div class="form-group form-password-toggle col-md-6">
                    <label class="form-label" for="confirm-password">Confirmar Contraseña</label>
                    <input
                      type="password"
                      name="confirm-password"
                      id="confirm-password"
                      class="form-control"
                      [class.error]="!TDRepeatPasswordRef.valid && accountDetailsForm.submitted"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      required
                      ngModel
                      #TDRepeatPasswordRef="ngModel"
                      pattern="{{ TDPasswordOnlyRef.value }}"
                      minlength="6"
                    />
                    <div
                      *ngIf="TDRepeatPasswordRef.invalid && accountDetailsForm.submitted"
                      class="form-text text-danger"
                    >
                      <small *ngIf="TDRepeatPasswordRef.errors.required"> Se requiere confirmar la contraseña. </small>
                      <small *ngIf="TDRepeatPasswordRef.errors.pattern">
                        Contraseña y Confirmar contraseña no coinciden.</small
                      >
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <button
                    type="button"
                    (click)="horizontalWizardStepperPrevious()"
                    class="btn btn-primary btn-prev"
                    rippleEffect
                  >
                    <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
                    <span class="align-middle d-sm-inline-block d-none">Anterior</span>
                  </button>
                  <button class="btn btn-success btn-submit" rippleEffect (click)="agregar(HWForm)">Guardar Registro</button>
                </div>
              </form>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
    <!--/ Horizontal Wizard -->
  </div>
</div>